version: 2.1

orbs:
  android: circleci/android@2.3.0

jobs:
  unit-test:
    executor:
      name: android/android-machine
      resource-class: medium
      tag: 2023.07.1
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/restore-build-cache
      - android/run-tests:
          test-command: ./gradlew testDebug
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
      - android/save-gradle-cache
      - android/save-build-cache
  android-test:
    executor:
      name: android/android-machine
      tag: 2023.07.1
      resource-class: xlarge
    steps:
      - checkout
      - android/start-emulator-and-run-tests:
          test-command: ./gradlew connectedDebugAndroidTest
          system-image: system-images;android-30;google_apis;x86
      - store_artifacts:
          path: ~/screenshots
  release-build:
    executor:
      name: android/android-machine
      tag: 2022.04.1
      resource-class: xlarge
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Assemble release build
          command: |
            ./gradlew assembleRelease
      - store_artifacts:
          path: app/build/outputs/apk/release

workflows:
  test-and-build:
    jobs:
      - unit-test
      - android-test:
          filters:
            branches:
              ignore: main
      - android-test:
          name: android-test-emulator
          filters:
            branches:
              only: main
      - release-build:
          requires:
            - unit-test
          filters:
            branches:
              only:
                - /develop.*/
                - /release.*/
